extends layout

block content

  h2= title
    div
      each item in item_list
        div(id=item._id)
          p= item.name
          a(href=item.url) #{item.name} Details
          | !{' '}
          a(href=item.url + '/delete') Delete Item
          br
          img(class='item', src= '/' + item.img.url)
          